
.btn {
  display: flex;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  padding: 12px;
  height: 32px;
  opacity: 1;
}

.btn:hover {
  opacity: 0.9;
}

.btnicon {
  color:rgb(97, 97, 97);
  position: relative;
  top: -4px;
  border: 0px;
  border-radius: 3px;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btnicon:hover {
  background: rgba(9, 30, 66, 0.13);
}

.btnicontext {
  display: flex;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  padding: 0 12px;
  opacity: 1;
  gap: 4px;
}

.cardbtnstyle {
  color: rgb(97, 97, 97);
  height: 30px;
}
.cardbtnstyle:hover {
  background-color: rgba(9, 30, 66, 0.08);
}

.listbtnstyle {
  width: 272px;
  height: 40px;
  color: white;
  background-color: #ffffff40;
}
.listbtnstyle:hover {
  background-color: #ffffff60;
}
.iconClose {
  cursor: pointer;
  padding-left: 6px;
}
.iconClose:hover {
  cursor: pointer;
  color: rgb(49, 49, 49);
}