.cardslayout {
  gap: 8px;
}
.cardslayout:first-child {
  padding-left: 8px;
  display: flex;
  flex-direction: row;
}
.cardlayout {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  background-color: #ebecf0;
  color: rgb(49, 49, 49);
  width: 272px;
}
.titlebox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 8px;
  justify-content: space-between;
}
.titletext {
  font-weight: 600;
  font-size: 14px;
  padding: 0 8px;
  line-height: 26px;
}
.listincard {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  gap: 8px;
}
.addincard {
  padding: 8px;
}
.itemincard {
  cursor: pointer;
  border-radius: 3px;
  background-color: white;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 0px;
}
.titleitem {
  align-items: center;
  color: rgb(49, 49, 49);
  display: flex;
  font-size: 14px;
  font-weight: 400;
  height: 32px;
  line-height: 20px;
  margin: 0px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: left;
}
.iconsitem {
  display: flex;
  line-height: 20px;
  margin: 0px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: left;
}

.modallayout {
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  display: inline-block;
  text-align: left;
  position: relative;
  overflow: hidden;
  max-width: 768px;
  width: 100%;
  color: rgb(49, 49, 49);
  padding: 12px 24px;
}
.closebutton {
  position: absolute;
  top: 4px;
  right: 8px;
  height: 32px;
  width: 32px;
}
.headermodal {
  margin-bottom: 20px;
}
.headermodaltitle {
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  height: 33px;
}
.inlist {
  align-items: center;
  display: flex;
  font-size: 14px;
}

.underline {
  text-decoration: underline;
}
.valuedisplay {
  margin-bottom: 20px;
  display: flex;
}
.descriptionmodaltitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 5px;
}
.actionmodal {
  display: flex;
  flex-direction: column;
  min-width: 190px;
  padding-left: 20px;
}

.textfield {
  background-color: rgba(9, 30, 66, 0.04);
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  height: 50px;
  padding: 8px 12px;
}
