.titlebox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  gap: 20px;
}
.titletext {
  font-weight: 700;
  font-size: 18px;
  color: white;
  padding-left: 12px;
}
.listbox {
  display: flex;
  flex-direction: row;
}